body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer.page-footer.custom {

	/**padding-top: 0px;*/
}

.life {
	background-color: #76ff03;
}

.row.game {
	margin-bottom: 0px;
}